Package: strongswan-mod-smp
Version: 5.3.2-1
Depends: libc, strongswan, libxml2
Source: feeds/packages/net/strongswan
License: GPL-2.0+
Section: net
Maintainer: Steven Barth <cyrus@openwrt.org>
Architecture: ramips_24kec
Installed-Size: 6312
Description:  StrongSwan SMP configuration and control interface plugin
