Package: strongswan-mod-uci
Version: 5.3.2-1
Depends: libc, strongswan, libuci
Source: feeds/packages/net/strongswan
License: GPL-2.0+
Section: net
Maintainer: Steven Barth <cyrus@openwrt.org>
Architecture: ramips_24kec
Installed-Size: 6232
Description:  StrongSwan UCI config interface plugin
